<ion-view title="ICC 2017" id="page2" style="background-color:#C7CEDA;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/LhOoveH8QralGlkmPALG_branding.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="iCC2017-heading1" style="color:#2B4472;">2nd International Conference on Condensed Matter and Applied Physics</h4>
    <div id="iCC2017-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">The
        <strong>2nd International Conference on Condensed Matter &amp; Applied Physics (ICC 2017)</strong> will be held at Govt. Engineering College, Bikaner, Rajasthan during
        <strong>November 24-25, 2017</strong>. The scientific deliberations at the conference will cover a wide range of topics in condensed matter physics, in the form of Keynote talk, invited talks and contributory papers.</p>
    </div>
    <div>
      <img src="img/aip.png" style="display: block; width: 80px; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <p>
      </p>
      <h4>Publications</h4>
      The proceeding of ICC-2017 will be published by AIP (American Institute of Physics) conference proceedings. The Proceeding will have a Volume number, ISBN, ISSN, and will be registered with the Library of Congress. AIP Conference Proceedings are indexed
      in a number of services, including these leading databases :-
      <br> 1. The Conference Proceedings Citation Index (part of Web of Science), 2. Scopus (Elsevier), 3. Inspec, 4. Chemical Abstracts Service (CAS), 5. Astrophysics Data System (ADS), 6. UGC Journal List.
      <p></p>
    </div>
  </ion-content>
</ion-view>